*{
	margin:0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: white;
    display: flex;
	padding:1rem;
	padding-right:3rem;
    align-items: center;
	background: #0c3431;    
	color:white;

}
nav h2{
	padding-left:3%;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul {
    flex: 1;          
    display: flex;
    gap: 7%;
    justify-content: flex-end;
}
nav a{
	text-decoration:none;
}

main {
    flex: 1;
	display:flex;
	flex-direction:column;
}
.text-main{
	width:24%;
}

section{
	background-color:#073835;
	color:white;
	display:flex;
	flex-direction:row;
	padding:8rem;
	padding-top:5rem;
	flex-wrap:wrap;
	padding-bottom:5rem;
}
section .toMake{
	color:green;
}
section p {
	font-size:13px;
	margin-top:20px;
}
section ul{
	gap: 4rem;
	margin-top:5rem;
	flex:1;
	justify-content:space-around;
}
section a{
	margin:0.3%;
	text-decoration:none;
	margin-top:4%;
	padding:0.5rem;
	width:100px;
	border-radius:10px ;
	border:2px solid gray;
	display:inline-block;
}
section img{
	margin-left:8%;
}
a:visited{
	color:white;
	text-decoration:none;
}
.moreInfos{
	background-color:green;
	color:white;
	width:150px;
	border:none;
	text-align:center;
}
.first-child-para {
    padding: 0.1rem 0;
    background-color: #f2f2f2;
    color: #000;
    text-align: center;
    font-size: 14px;
	justify-content:center;
	height:80px;
}

.first-child-para p {
    margin-top: 0;
    display: inline-block; 
	display:inline;
	white-space: nowrap;
	width:auto;
	font-size:15px;
}

.first-child-para a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
	width:auto;
	border:none;
}







